<div class="container">
    <h3>ENTER TWO NUMBERS</h3>
    <div class="input-field d-flex-row" style="background-color: burlywood;">
        <input type="number" placeholder="Enter number 1" name="no" id="no1" style="width: 20%;margin-right: 20px;">
        <input type="number" placeholder="Enter number 2" name="no" id="no2" style="width: 20%;">
        <p id="demo"></p>
    </div>
    <div class="op my-3">
        <button class="btn btn-success m-3" type="button" (click)="add()">+</button>
        <button class="btn btn-dark m-3" type="button" (click)="sub()">-</button>
    </div>
</div>
